.container {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

.head-chat {
  width: 70vw;
  margin: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.content {
  width: 80vw;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submit-btn-chat {
  margin: auto;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-container {
  display: flex;
  height: 70vh;
}

.chat-bound {
  display: flex;
  width: 100vw;
  flex-direction: column-reverse;
  overflow: scroll;
}

.chat-temp {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.time-container {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.time-container-my {
  margin-right: 30px;
  margin-top: 10px;
  align-self: flex-end;
  font-size: 10px;
  font-weight: bold;
}

.chat-balloon {
  position: relative;
  margin-left: 30px;
  margin-top: 5px;
  line-height: 22px;
  padding: 6px;
  padding: 8px;
  width: 50vw;
  background: lightblue;
  border-radius: 10px;
}
.chat-balloon:after {
  border-top: 15px solid lightblue;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
}

.chat-balloon-my {
  position: relative;
  align-self: end;
  line-height: 22px;
  padding: 6px;
  margin-right: 30px;
  margin-top: 5px;
  width: 50vw;
  background: #ffeb3b;
  border-radius: 10px;
}

.chat-balloon-my:after {
  border-top: 15px solid #ffeb3b;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: 190px;
}
