.container {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

.head-chat {
  width: 70vw;
  margin: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.content {
  width: 80vw;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submit-btn-chat {
  font-family: "one_mobile";
  margin: auto;
  background-color: #fd8f00;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-container {
  display: flex;
  height: 55vh;
}

.chat-bound {
  display: flex;
  width: 100vw;
  flex-direction: column-reverse;
  overflow: scroll;
}

.chat-temp {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.time-container {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
}

.time-container-my {
  margin-right: 30px;
  margin-top: 10px;
  float: right;
  font-size: 10px;
  font-weight: bold;
}

.chat-balloon {
  font-family: "KoPubBold";
  margin-left: 15px;
  margin-top: 5px;
  line-height: 22px;
  padding: 6px;
  padding: 8px;
  width: 50vw;
  background: lightblue;
  border-radius: 10px;
}

.chat-balloon-my {
  font-family: "KoPubBold";
  float: right;
  line-height: 22px;
  padding: 6px;
  margin-right: 15px;
  margin-top: 5px;
  width: 50vw;
  background: #ffeb3b;
  border-radius: 10px;
}
