.comment-card {
  margin-left: 35px;
  margin-right: 35px;
  padding: 10px;
  border-bottom: solid 1px lightgray;
}

.comment-info {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.comment-writer {
  font-size: 15px;
  font-weight: bold;
}

.comment-time {
  font-size: 10px;
  color: gray;
  margin-left: 10px;
  align-self: flex-end;
  font-weight: lighter;
}

.comment-header {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
