.quest-write {
  font-family: "one_mobile";
}

#lat {
  display: none;
}

#lng {
  display: none;
}

.quest-container {
  display: flex;
  flex-direction: column;
}

.quest-input-container {
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

.head {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.content {
  width: 80vw;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.people-input {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.image {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.quest-submit-btn {
  font-family: "one_mobile";
  margin: auto;
  background-color: #fd8f00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.minimap {
  margin-top: 10px;
  margin-bottom: 20px;
}
