.common-header {
  text-align: center;
  display: flex;
  height: 8vh;
  background-color: #fff3d3;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  margin-top: -31px;
  width: 130px;
  height: 130px;
}

.back {
  margin: 2vh;
  width: 33px;
  height: 33px;
}
