.container {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 80vw;
  margin: auto;
}

.bullet-head {
  width: 80vw;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.bullet-content {
  width: 80vw;
  height: 50vh;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.bullet-submit-btn {
  margin: auto;
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
