.google-login-btn {
  width: 90%;
  text-align: center;
  margin: 10px;
  margin-top: 10%;
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  border-radius: 15px;
}
