@font-face {
  font-family: "one_mobile";
  src: url("fonts/ONEMobile_POP.ttf") format("truetype");
}

@font-face {
  font-family: "KoPub";
  src: url("fonts/KoPubWorld\ Dotum_Pro\ Bold.otf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
