.chat-card {
  display: flex;
  margin: 10px;
  background-color: #e9ecef;
}

.chat-card-details {
  width: 80vw;
}

.chat-card-title {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.chat-card-info-container {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.chat-card-writer {
  text-align: right;
  flex-grow: 1;
}
