.chat-card {
  display: flex;
  padding: 15px;
  border-bottom: solid 1px lightgray;
}

.chat-card-profile {
  opacity: 0.3;
}

.chat-card-profile {
  opacity: 0.3;
}

.chat-card-details {
}

.chat-card-title {
  font-family: "one_mobile";
  margin: 10px;
  font-weight: bold;
}

.chat-card-writer {
  font-family: "KoPub";
  margin: 10px;
}
